# Java
*.class

#C
*.exe
test.c
test.cpp

#VSCode
.vscode/**
.DS_Store

#Other
*.log

.BROWSE.VC.DB

vgcore*
*.out
*.dSYM
launch.json
tasks.json
**.json

*.b

#F Sharp prac
*/test.fs

.*
